<div class="row">
    <div class="col-lg-2 col-sm-12 pull-left">
        <a class="btn btn-raised btn-primary" (click)="onAddMember(content)"> Add New<i class="fa fa-plus"></i>
        </a>
    </div>
</div>
<div class="row text-left" matchHeight="card">
    <div *ngFor="let member of projectTeam" class="col-sm-3 ">
        <div class="card bg-success">
            <div class="card-content">
                <div class="row">
                    <div class="col-sm-6 pull-left">
                        <span class="badge badge-primary">{{member.role}}</span>
                    </div>
                    <div class="col-sm-6 text-right">
                        <button class="btn btn-danger btn-fab"
                                placement="top" ngbTooltip="Remove project member"
                                (click)="onRemoveProjectMember(member)"><span class="ft  ft-user-x"></span>
                        </button>
                    </div>
                </div>
                <div class="px-2 py-2">
                    <div class="media">
                        <div class="media-left align-self-center">
                            <i class="icon-user white font-large-2 float-right"></i>
                        </div>
                        <div class="media-body white text-right">
                            <h6>عدد المهام:21 </h6>
                            <span>{{member.empAccount.userName}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Select Member </h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <fieldset class="form-group">
                <div class="row">
                    <div class="col-sm-6">
                        <label>Select Team Member:</label>
                    </div>
                    <div class="col-sm-6">
                        <select [(ngModel)]="selectedTeamIndex">
                            <option [value]="null" selected></option>
                            <option *ngFor="let item of projectTeamAvailable ;  index as i"
                                    [value]="i">{{item.userName}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6"><label>Member Role:</label></div>
                    <div class="col-sm-6">
                        <select [(ngModel)]="selectMemberValueObject.role">
                            <option [value]="null" selected></option>
                            <option [value]="'admin'">admin</option>
                            <option [value]="'developer'">developer</option>
                            <option [value]="'manager'">manager</option>
                            <option [value]="'tester'">tester</option>
                            <option [value]="'designer'">designer</option>
                            <option [value]="'Database admin'">Database admin</option>
                        </select>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <hr/>
    <div class="modal-footer">
        <a type="button" class="btn btn-warning btn-raised" (click)="d('close') ">Close</a>
        <a type="button" class="btn btn-raised btn-success" (click)="c('save')">save</a>
    </div>
</ng-template>

