<div class="row">
<div class="col-sm-2">
  <a class="btn btn-raised  btn-success mt-1 mb-0" (click)="projectDetails(null)"> New Project <i class="ft-plus"> </i></a>
</div>
</div>
<div class="row">
  <div *ngFor="let project of projects" class="col-xl-3 col-lg-6 col-md-12">
    <div class="card">
      <div class="card-content">
        <div class="card-img">
          <img class="card-img-top img-fluid" src="assets/img/photos/06.jpg"  alt="Card image cap">
          <a class="btn btn-floating halfway-fab bg-warning" placement="top" ngbTooltip="Change project Icon"><i class="ft-camera" ></i></a>
        </div>
        <div class="card-body noPaddingDown">
          <h4 class="card-title">{{project.projectName}}</h4>
          <p class="card-text">{{project.projectShortDesc}}</p>
          <a class="btn btn-raised btn-warning mt-1" (click)="projectDetails(project)">Project details <i class="ft-edit" ></i></a>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
  </div>
</div>
