<hr/>
<div class="row text-left">
    <div class="col-sm-6">
        <span class="ft-list float-left"></span> <h5 class="text-bold-500 text-primary">My Tasks</h5>
    </div>
    <div class="col-sm-6 text-right">
        <a class="btn btn-raised btn-warning" (click)="onBack()">Back</a>
    </div>
</div>
<div class="row">
    <div *ngFor='let task of myTasks;  index as i' class="col-sm-4 pull-left">
        <!--    Completed tasks -->
        <div class="card">
            <div class="card-body pt-3 text-left">
                <div class="clearfix text-left">
                    <h5 class="text-bold-500 primary text-left"
                        *ngIf="task.project">{{task.project.projectName}}
                    </h5>
                    <h6 class="text-bold-500 primary text-left italic">{{task.taskType}}</h6>
                    <div class="actions float-right">
                        <span class="fa fa-check-circle"></span> <i class="cursor-pointer mr-2 info"
                                                                    placement="top"
                                                                    ngbTooltip="Process this task."
                                                                    (click)="processThisTask(task);">
                        Process </i>
                    </div>
                </div>
                <p>{{task.taskDesc}}</p>
            </div>
            <div class="card-footer text-left">
                <small> Assigned At <span>{{task.assignedDate | date }}</span></small>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="pageCount >0 && pageCount  !== currentPage">
    <div class="col-6 offset-3">
        <button type="button" class="btn btn-raised btn-primary btn-lg btn-block" (click)="onLoadMore()">Load more</button>
    </div>
</div>
